.header {
    width: 100%;
    background: $mainColor;
    z-index: 99;

    &::after {
        content: "";
        width: 100%;
        height: 70px;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 8;
        background: $mainColor;
    }

    // .header__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 70px;
        position: relative;
        z-index: 10;
        @media (max-width: $md) {
            justify-content: space-between;
        }
    }
}

.menu {
    // .menu__list
    &__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    // .menu__item
    &__item {
    }

    // .menu__link
    &__link {
        color: #fff;
    }
}

.actions-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    & .button {
        @media (max-width: $xs) {
            font-size: 14px;
        }
    }

    // .actions-header__logout
    &__logout {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (any-hover: hover) {
            &:hover {
                cursor: pointer;
            }
        }
    }
}
