.badge {
    padding: 4px 8px;
    border-radius: 5px;
    text-align: center;
    color: black;
}

.black {
    background-color: #000;
    color: aliceblue;
}

.red {
    background-color: #cb444a;
    color: aliceblue;
}
.yellow {
    background-color: #f6c244;
    color: black;
}
.green {
    background-color: #3f8458;
    color: aliceblue;
}
.blue {
    background-color: #3070f4;
    color: aliceblue;
}

.soft-blue {
    background-color: #5dc7ec;
    color: black;
}
