.badge {
    padding: 4px 8px;
    border-radius: 5px;
    text-align: center;
    color: black;

    &_default {
        background-color: #3f8458;
        color: aliceblue;
    }

    &_black {
        background-color: #000;
        color: aliceblue;
    }

    &_red {
        background-color: #cb444a;
        color: aliceblue;
    }

    &_yellow {
        background-color: #f6c244;
        color: black;
    }

    &_green {
        background-color: #3f8458;
        color: aliceblue;
    }

    &_blue {
        background-color: #3070f4;
        color: aliceblue;
    }

    &_soft-blue {
        background-color: #5dc7ec;
        color: black;
    }
}