.team-list-block {

	padding-top: 15px;

	&_switch-panel {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 15px;

		button {
			background-color: #ccc;

			&:first-child {
				border-radius: 10px 0 0 10px;
			}

			&:last-child {
				border-radius: 0 10px 10px 0;
			}
		}
	}
}

.team-list {
	display: flex;
	margin-bottom: 50px;

	&.flat {
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 100px;
		gap: 115px 5%;
	}

	&.list {
		flex-direction: column;
		gap: 30px 0;
	}

	&.flat &_item {
		width: 30%;
		flex: 0 0 30%;

		@media (max-width: $lg) {
			width: 47%;
			flex: 0 0 47%;
		}

		@media (max-width: $xs) {
			width: 100%;
			flex: 0 0 100%;
		}
	}

	&.list &_item {
		width: 100%;
		flex: 0 0 100%;
	}
}