$fontFamily: "Montserrat";
$fontSize: 16;

$minWidthContainer: 320px;
$maxWidthContainer: 1140px;
$paddingContainer: 0 15px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$xs: 576px;

$mainColor: #242424;
$infoColor: #8e63d2;
$hoverInfoColor: #5a3295;
$errorColor: #dc3545;
$borderRadius: 12px;
