@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import "./mixins";
@import "./variables";
@import "./components";
@import "./null";

html {
    scroll-behavior: smooth;
}

body {
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;

    &.lock {
        overflow: hidden;
    }
}

#root {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    min-width: $minWidthContainer;
    max-width: 100%;
    padding: $paddingContainer;
    margin: 0 auto;

    @media (min-width: $xs) {
        max-width: 540px;
    }
    @media (min-width: $md) {
        max-width: 720px;
    }
    @media (min-width: $lg) {
        max-width: 960px;
    }
    @media (min-width: $xl) {
        max-width: $maxWidthContainer;
    }
}

.page {
    flex: 1 1 auto;
}

._ibg {
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
