.header__menu {
    flex: 1 1 auto;
    @media (max-width: $md) {
        display: none;
    }

    & ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        & li a {
            color: #fff;
        }
    }
}
