// horizontal
.progress {
    border-radius: 2px;
    position: relative;
    margin: 0 0 20px;
    height: 24px;
    max-width: 100%;
    align-self: stretch;
    font-weight: 300;
    background-color: #ededed;
    border-radius: 30px;

    &__text {
        align-self: stretch;
        font-weight: 600;
        margin: 0 0 5px 15px;
    }

    &__done {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 0;
        opacity: 0;
        transition: 1s ease 0.3s;
        border-radius: 30px;
    }
}
