.project-slider {
    cursor: grab;
    & .slider {
        width: 100%;
        aspect-ratio: 16/9;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &__item {
            width: 45px;
            height: 45px;
            color: #fff;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            background: $infoColor;
            transition: all 0.3s ease 0s;

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;

            @media (any-hover: hover) {
                &:hover {
                    background: $hoverInfoColor;
                }
            }

            &.prev {
                left: 30px;
            }
            &.next {
                right: 30px;
                transform: rotate(-180deg);
            }
            &.disabled {
                opacity: 0.6;
                pointer-events: none;
            }
        }
    }
}
