.breadcrumbs {
    width: 100%;
    background: #fff;
    padding: 15px 0px;

    // .breadcrumbs__container
    &__container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 5px;
    }

    // .breadcrumbs__item
    &__item {
        color: $mainColor;
        letter-spacing: 2px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        & svg {
            position: relative;
            top: 0px;
        }
    }
}
