.project-slider {
    cursor: grab;

    & .slider {
        width: 100%;
        aspect-ratio: 16/9;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &__item {
            width: 45px;
            height: 45px;
            color: #fff;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;

            background: $infoColor;
            transition: background-color 0.3s ease 0s;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;

            z-index: 10;

            @media (max-width: $xs) {
                background-color: #cccccc40;
            }

            @media (any-hover: hover) {
                &:hover {
                    background: $hoverInfoColor;

                    @media (max-width: $xs) {
                        background-color: #cccccc40;
                    }
                }
            }

            &.prev {
                left: 10px;

                @media (max-width: $xs) {
                    left: -10px;
                }

            }

            &.next {
                right: 10px;
                transform: translateY(-50%) rotate(180deg);

                @media (max-width: $xs) {
                    right: -10px;
                }

            }

            &.disabled {
                opacity: 0.6;
                pointer-events: none;
            }
        }
    }
}