.login {
    background: url("https://source.unsplash.com/TV2gg2kZD1o/1600x800")
        no-repeat;
    width: 100%;
    height: 100vh;
    max-height: 90vh;

    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
    text-align: center;

    display: flex;

    &__info {
        width: 45%;
        background: rgba(20, 20, 20, 0.8);
        padding: 30px;
        border-right: 5px solid rgba(30, 30, 30, 0.8);
    }
}
