.developer-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 30px 0;

	h1 {
		font-size: 2rem;
		line-height: 1.3;
	}

	h2 {
		font-size: 1.6rem;
		line-height: 1.3;
		margin: 20px 0 10px;
	}

	h3 {
		font-size: 1.3rem;
		line-height: 1.3;
		margin: 20px 0 10px;
	}

	&_favourite {
		position: absolute;
		width: 36px;
		height: 36px;
		background-color: #f1f1f1 !important;
		padding: 0;
		border-radius: 50%;
		right: 25px;
		bottom: 20px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 30px;
			height: 30px;
			fill: none;
			stroke: #464455;
		}

		svg.favourite-active {
			fill: $infoColor;
			stroke: $infoColor;
		}
	}

	&_info {
		display: flex;
		flex: 0 0 100%;
		justify-content: space-between;
		margin-bottom: 20px;

		&_left {
			width: 40%;
			flex: 0 0 40%;
		}

		&_right {
			width: 55%;
			flex: 0 0 55%;
		}

		&_image-block {
			margin-bottom: 20px;
			position: relative;

			& img {
				max-width: 100%;
				height: auto;
			}
		}

		&_proffession {
			font-size: 1.2rem;
			font-weight: 600;
			line-height: 1.3;
			color: #646464;
			margin-bottom: 15px;

			span {
				color: $infoColor;
			}
		}

		&_qualities {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 10px;
			margin-bottom: 15px;
		}

		&_skills {
			margin-bottom: 10px;
		}

		&_skills-container {
			display: flex;

			&.circle {
				flex-wrap: wrap;
				justify-content: center;
				gap: 20px 5%;
				margin-top: 20px;
			}


			&.horizontal {
				flex-direction: column;
			}
		}

		&_skill {

			&.circle {
				width: 30%;
			}
		}

	}

}