// Circle

.progress-circle {
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
    -webkit-box-shadow: 0 -1px 0 0 #d6d7d8;
    box-shadow: 0 -1px 0 0 #d6d7d8;
    margin: -82px 0 0 -82px;
    background: #f3f3f3;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
    height: 164px;
    width: 164px;
    left: 50%;
    top: 50%;
}

.progress-circle #progress {
    -webkit-box-shadow: 0 1px 0 0.5px #d6d7d8;
    box-shadow: 0 1px 0 0.5px #d6d7d8;
    font-family: "Montserrat", sans-serif;
    margin: -70px 0 0 -70px;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    line-height: 140px;
    background: #fff;
    font-size: 34px;
    color: #46494d;
    height: 140px;
    width: 140px;
    z-index: 1;
    left: 50%;
    top: 50%;
}

// horizontal
.progress {
    border-radius: 2px;
    position: relative;
    margin: 15px;
    height: 30px;
    max-width: 100%;
    align-self: stretch;
    font-weight: 300;
    background-color: $mainColor;

    &__text {
        align-self: stretch;
        font-weight: 700;
        margin: 15px;
    }
    &__done {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 0;
        opacity: 0;
        transition: 1s ease 0.3s;
    }
}
