// Circle
.progress-cricle {
    width: 100px;
    height: 100px;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background: #07070c;
    text-align: center;

    & .title {
        position: relative;
        z-index: 100;
    }

    &.overlay {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #07070c;
    }
}

.progress-circle {
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
    -webkit-box-shadow: 0 -1px 0 0 #d6d7d8;
    box-shadow: 0 -1px 0 0 #d6d7d8;
    margin: -82px 0 0 -82px;
    background: #f3f3f3;
    border-radius: 100%;
    position: relative;
}

.progress-circle #progress {
    font-family: "Montserrat", sans-serif;
    border-radius: 100%;
    text-align: center;
    background: #fff;
    font-size: 34px;
    height: 140px;
    width: 140px;
    z-index: 1;
    left: 50%;
    top: 50%;
}

// horizontal
.progress {
    border-radius: 2px;
    position: relative;
    margin: 15px;
    height: 30px;
    max-width: 100%;
    align-self: stretch;
    font-weight: 300;
    background-color: $mainColor;

    &__text {
        align-self: stretch;
        font-weight: 700;
        margin: 15px;
    }
    &__done {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 0;
        opacity: 0;
        transition: 1s ease 0.3s;
    }
}
