.progress-bar {
    margin: 0 auto;
    position: relative;
    width: 180px;
}

.progress-bar_circle {
    position: relative;
}

.progress-bar__svg {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg); /* Fix the orientation */
}

.svg__track {
    stroke: #ddd;
}

.svg__indicator {
    stroke: #07c;
    stroke-dasharray: 251.2px; /* DashArray = Track's or indicator's Circumference */
    stroke-linecap: round;
}

.svg__track,
.svg__indicator {
    cx: 50px;
    cy: 50px;
    r: 40px;
    fill: transparent;
    stroke-width: 10px;
}

.progress-bar__label {
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    text-align: center;
}

progress[value] {
	appearance: none;
	border: none;
}

.progress-bar_linear {
    position: relative;
}
.progress-bar__linear-text {
position: absolute;
color: #fff;
top: 6%;
left: 40%
}


.html5 {
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
}

.html5::-webkit-progress-value {
    background-color:  #07c;

}
.html5::-webkit-progress-bar {
    background-color: #ddd;
  }
.progress-bar__title-text {
    text-align: center;
}